#btn{
    border-radius: 20px;
    margin-left: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

#content-flex{
    display: flex;
}

#content{
    margin: 100px auto;
}

.jumbotron{
    background-color: #fff;
}